@import url('https://fonts.googleapis.com/css?family=Quicksand|Rajdhani&display=swap');
body{
    background-color: #403151;
}


.wrapper{
    position: relative;
    color: #fff;
    position: center;
    font-family: 'Quicksand',sans-serif;
        text-align: center;

    vertical-align: middle;
}

.wrapper h1{
    top: 50%;
    vertical-align: middle;
    margin: auto;
}