body {
    background-color: grey;
    width: 100%;
    height: 100%;
}

.test {
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin-top: 500 px;
    padding-top: 500 px;
    background-color: red;
}